.container {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.25rem;
    width: 18rem;
    max-height: 100%;
    background-color: var(--c-bg-card);
    border-radius: var(--radius-card);
    cursor: pointer;
}

.containerDragging {
    composes: container;
    padding-right: 0.25rem;
}

.containerIdle {
    composes: container;
    padding-left: 0.25rem;
}

.header {
    display: flex;
    padding: 0.25rem 0.5rem 1rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: var(--c-text-muted);
    font-weight: 600;
}

.itemsArea {
    margin: 0 0.25rem;
}

.itemsOverflow {
    composes: itemsArea;
    overflow: auto;
}

.itemsHidden {
    composes: itemsArea;
    overflow: hidden;
    visibility: hidden;
}

.footer {
    padding: 1rem 0.5rem 0.5rem 1rem;
}

.invisible {
    visibility: hidden;
}

/* ---- Sortable outer wrapper ---- */
.sortableOuter {
    cursor: default;
}
