.input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    border: 2px solid rgb(156 163 175); /* gray-400 */
    background-color: var(--c-bg-input);
    border-radius: 0.125rem;
    color: var(--c-text-primary);
    font-size: 0.875rem;
    font-family: inherit;
    outline: none;
}

.input:focus {
    border-color: var(--c-sky-500);
}
