@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --color-main: rgb(13, 17, 23);
  --color-side: rgb(22, 27, 34);
  --color-outline: rgb(33, 38, 45);
  --color-words: rgb(230, 237, 243);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --shadow-card: 0px 1px 1px rgb(100 116 139 / 40),
        0px 0px 1px rgb(100 116 139 / 40);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.box-shadow-card {
    box-shadow: inset 0 1px 0 0 #ffffff1a;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(71 85 105);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(15 23 42);
}

div::-webkit-scrollbar:horizontal {
    background: rgb(71 85 105);
}

div::-webkit-scrollbar-thumb:horizontal {
    background: rgb(30 41 59);
}

div::-webkit-scrollbar-thumb:horizontal:hover {
    background: rgb(51 65 85);
}
